* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2,p {
    color: #658ec6;
    font-weight: 450;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;

}
main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.glass {
    background: white;
    min-height: 80vh;
    width: 65%;
    background: linear-gradient(to left top, 
    rgba(255, 255, 255, 0.3), 
    rgba(255, 255, 255, 0.7));
    border-radius: 25px;
    z-index: 3;
    backdrop-filter: blur(5px);
    display: flex;
}
.circle1,.circle2 {
    background: white;
    height: 200px;
    width: 200px;
    background: linear-gradient(to right top, 
    rgba(255, 255, 255, 0.7), 
    rgba(255, 255, 255, 0.3));
    position: absolute;
    border-radius: 50%;
    
}
.circle1 {
    top: 1%;
    right: 8%;

}
.circle2 {
    bottom:1%;
    left: 7%;

}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right top, #67f5f5, #bdedf5);
    border-radius: 2rem;
}
.avatar {
    border-radius: 50%;
    padding: none;
}

.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 0.3rem 2rem;
    align-items: center;   
}

.games {
    flex: 2;
}

.pro {
    background: linear-gradient(to right top, #93f0df, #7fd0dd);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    display: flex;
}

.pro h2 {
    color: rgb(255, 255, 255);
}

/* GAMES 
*/

.status {
    margin-bottom: 5px;
}
.status input {
    background: linear-gradient(
    to right top, 
    rgba(255, 255, 255, 0.7), 
    rgba(255, 255, 255, 0.3));
    border: none;
    border-radius: 2rem;
    width: 75%;
    padding: 0.1rem;
}
.games {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: space-evenly;
}

.card {
    display: flex;
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.9), 
        rgba(255,255,255,0.3));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 0.3rem;
    box-sizing: 6px 6px 20px rgba(122, 122, 122, 0.205);   
    justify-content: space-between;       
}

.card img {
    border-radius: 35%;
}

.card-info {
    width: 75%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-info h2 {
    font-size: 17px;
    font-weight: 550;
}

.progress1 {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress1::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236,236,236);
    position: absolute;
    left:60%;
}

.progress2 {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress2::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236,236,236);
    position: absolute;
    left:85%;
}

.progress3 {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress3::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236,236,236);
    position: absolute;
    left:75%;
}
.percentage {
    font-weight: bold;
    background: linear-gradient(to left top, rgb(101, 183, 238), rgb(12,129,207));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}